{% extends "base.html" %}

{% block content %}

{% for post in posts %}

    <div class="card">
        <div class="card-header">{{ post["title"] }}</div>
        <div class="card-body">
        <p class="card-text">{{ post["content"] }}</p>
        <div class="card-footer text-muted">Posted: {{ post["timestamp"] }} </div>
        {% if user %}
        <div class="card-footer"><button class="btn btn-danger" type="button">Delete</button> </div>
        {% endif %}
        </div></div>
    <br>
    <br>

{% endfor %}

{% endblock %}