{% extends "base.html" %}

{% block content %}
  <br><a class="btn btn-success" href="#" role="button">Update</a>
  <br>
<table class="table table-striped">
  <tr>
      <th>#</th>
      <th>Nick</th>
      <th>Class</th>
      <th>Role</th>
      <th>ilv</th>
      <th>Weekly M+</th>
      <th>r.io score</th>
      <th>WCL performance</th>
  </tr>
  {% for i in data %}
  <tr>
      <td>{{loop.depth}}</td>
      <td> {{ i["name"] }} </td>
      <td> {{ i["Class"] }} </td>
      <td> {{ i["Role"] }} </td>
      <td> {{ i["ilv"] }} </td>
      <td> {{ i["Weekly"] }} </td>
      <td> {{ i["rio"] }} </td>
      <td> {{ i["wcl"] }} </td>
  </tr>
  {% endfor %}
</table>
<br>
<h5>Most recent logs</h5>
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Url</th>
  </tr>

  {% for row in logs %}
    <tr>
      <td> {{ row["title"] }} </td>
      <td> {{ row["start"] }}</td>
      <td> <a href="http://warcraftlogs.com/reports/{{ row["id"] }}" target="_blank">http://warcraftlogs.com/reports/{{ row["id"] }}</a></td>
    </tr>
  {% endfor %}

</table>

{% endblock %}