body {
    background-color: #343a40
}

#messagebox {
    color: #ffffff;
}

h5 {
    color: #ffffff;
}

h1 {
    color: rgb(63, 206, 50);
    text-shadow: 1px 1px 2px white;
    font-family: "Lucida Console", Courier, monospace;
    text-align: center;
}

.progress {
    text-shadow: 2px 2px 2px #000000;
}

.card {
    background-color: #383b3f;
    color: #ffffff;
}

.card-body {
    background-color: #555c63;
    color: #ffffff;
}

.card-text {
    color: #ffffff;
}

.card-footer {
    background-color: #383b3f;
}

h4 {
    color: #ffffff;
}

p.raiddifficulty {
    color:#ffffff;
}

p.raidname {
    color: #ffffff;
}

.oneline {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

td.rostercell {
    vertical-align: middle;
    height: 32px;
    text-align: center;
}

img.linkimg {
    width: 20px; 
    height: 20px;
}