body {
    background-color: #343a40
}

#messagebox {
    color: #ffffff;
}

h5 {
    color: #ffffff;
}

h1 {
    color: rgb(63, 206, 50);
    text-shadow: 1px 1px 2px white;
    font-family: "Lucida Console", Courier, monospace;
}

.card {
    background-color: #383b3f;
    color: #ffffff;
}

.card-body {
    background-color: #555c63;
    color: #ffffff;
}

.card-text {
    color: #ffffff;
}

.card-footer {
    background-color: #383b3f;
}

h4 {
    color: #ffffff;
}

p.raiddifficulty {
    color:#ffffff;
}

p.raidname {
    color: #ffffff;
}