{% extends "base.html" %}

{% block content %}

<script type=text/javascript>
    // function to handle updating roster without refreshing page
    $(function() {
      $('a#updaterosterbtn').bind('click', function() {
        $.getJSON('/update',
            function(data) {
          //do nothing
        });
        alert("Update has been started, please refresh this page in a minute")
    return false;
  });
  });
</script>

<h3>Post a blog post</h3>
<form action="post" method="POST">
<div class="form-group">
    <label for="title">Title:</label>
    <input type="text" class="form-control" id="title" name="title">

</div>
<div class="form-group">
    <label for="post">Post:</label>
    <textarea class="form-control" rows="8" id="post" name="post"></textarea>
</div>
    <button id="postnewblog" class="btn btn-primary" type="submit">Post</button>
</form>
<br>
<br>
<h3>Add character</h3>

<div class="container">
    <div class="container">
        <div class="form-group">
            <form action="/addplayer" method="post">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
            <label for="role">Role:</label>
            <select name="role" id="role" name="role" required>
                <option value="Tank">Tank</option>
                <option value="Healer">Healer</option>
                <option value="DPS">DPS</option>
            </select>
        </div>
        <div class="form-group">
            <label for="class">Class:</label>
            <select name="class" id="class" name="class" required>
                <option value="Death Knight">Death Knight</option>
                <option value="Demon Hunter">Demon Hunter</option>
                <option value="Druid">Druid</option>
                <option value="Hunter">Hunter</option>
                <option value="Mage">Mage</option>
                <option value="Monk">Monk</option>
                <option value="Paladin">Paladin</option>
                <option value="Priest">Priest</option>
                <option value="Rogue">Rogue</option>
                <option value="Shaman">Shaman</option>
                <option value="Warlock">Warlock</option>
                <option value="Warrior">Warrior</option>
            </select>
        </div>
    </div>
    <button id="saveaddition" class="btn btn-success btn-sm" type="submit">Add</button>
    </form>
  </div>
 

{% endblock %}