{% extends "base.html" %}

{% block content %}

{% if not single %}
    {% for post in posts %}

        <div class="card">
            <div class="card-header">{{ post["title"] }}</div>
            <div class="card-body">
                <p class="card-text">{{ post["content"] }}</p>
                <div class="card-footer text-muted">
                    Posted: {{ post["timestamp"] }} -- ID: <a href="blog/{{ post['id'] }}" >{{ post["id"] }}</a>
                    {% if user %}
                    <button class="btn btn-success btn-sm" type="button">Edit</button><button class="btn btn-danger btn-sm" type="button">Delete</button>
                    {% endif %}
                </div>
                
            </div></div>
        <br>
        <br>

    {% endfor %}

{% else %}

<div class="card">
    <div class="card-header">{{ post["title"] }}</div>
    <div class="card-body">
    <p class="card-text">{{ post["content"] }}</p>
    <div class="card-footer text-muted">
        Posted: {{ post["timestamp"] }} -- ID: <a href="{{ post['id'] }}" >{{ post["id"] }}</a>
        {% if user %}
        <button class="btn btn-success btn-sm" type="button">Edit</button><button class="btn btn-danger btn-sm" type="button">Delete</button>
        {% endif %}
    </div>
    
    </div></div>

{% endif %}

{% endblock %}