{% extends "base.html" %}

{% block content %}
<div id="messagebox" class="bg-dark"></div>
  <br><a class="btn btn-success" href="/update" role="button">Update</a> &nbsc; <p class="updatetime">Updated: {{ updated }}</p>
  <br>
<table class="table table-striped table-dark">
  <tr>
      <th>#</th>
      <th>Nick</th>
      <th>Class</th>
      <th>Role</th>
      <th>ilv</th>
      <th>Weekly M+</th>
      <th>R.io score</th>
      <th>Perf% (N)</th>
      <th>Perf% (H)</th>
      <th>Perf% (M)</th>
  </tr>
  {% for i in data %}
  <tr>
      <td>{{loop.index}}</td>
      <td> <p class="cname">{{ i["name"] }} </p></td>
      <td> <p class="cclass"> {{ i["Class"] }} </p></td>
      <td> <p class="crole">{{ i["Role"] }} </p></td>
      <td> <p class="cilv"> {{ i["ilv"] }} </p></td>
      <td> <p class="cweekly"> {{ i["Weekly"] }} </p></td>
      <td> <p class="crio"> {{ i["rio"] }} </p></td>
      <td> <p class="cwcl"> {{ i["wcln"] }} </p></td>
      <td> <p class="cwcl"> {{ i["wclh"] }} </p></td>
      <td> <p class="cwcl"> {{ i["wclm"] }} </p></td>
  </tr>
  {% endfor %}
</table>
<br>
<h5>Most recent logs</h5>
<table class="table table-striped table-dark">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Url</th>
  </tr>

  {% for row in logs %}
    <tr>
      <td> {{ row["title"] }} </td>
      <td> {{ row["start"] }}</td>
      <td> <a href="http://warcraftlogs.com/reports/{{ row["id"] }}" target="_blank">http://warcraftlogs.com/reports/{{ row["id"] }}</a></td>
    </tr>
  {% endfor %}

</table>

<script src="static/scripts/coloring.js"></script>

{% endblock %}