{% extends "base.html" %}

{% block content %}

<script type=text/javascript>
  // function to handle updating roster without refreshing page
  $(function() {
    $('a#updaterosterbtn').bind('click', function() {
      $.getJSON('/update',
          function(data) {
        //do nothing
      });
      alert("Update has been started, please refresh this page in a minute")
  return false;
});
});

function clearAddition(){
  row = document.getElementsByClassName("additionrow")[0];
  // TODO clear selections
  alert("TODO")

}

// TODO
function saveAddition(){
  alert("TODO")
}

// function to handle unlocking roster for editing
function unlockRoster(){
  var roleoptions = ["", "Tank", "Healer", "DPS"];
  var classoptions = ["Death Knight", "Demon Hunter", "Druid", "Hunter", "Mage", "Monk", "Paladin", "Priest", "Rogue", "Shaman", "Warlock", "Warrior"];

  var table = document.getElementById("rostertable");

  r = 0;
  while (row=table.rows[r++]) {
    // unlock editable fields
    
    

  }

  // add a row in the bottom to allow adding players, first cell is for numbering so just fill with N/A
  var additionrow = table.insertRow(-1);
  additionrow.setAttribute("class", "additionrow");
  var cell1 = additionrow.insertCell(0);
  cell1.innerHTML = "N/A";

  // second cell is for player name, put there a text field
  var cell_name = additionrow.insertCell(1);
  cell_name.innerHTML="<input type='text' class='form-control' id='adtname' name='adtname'>";

  // third cell is for character class, make a dropdown with all choices
  var cell_class = additionrow.insertCell(2);
  cell_class.innerHTML="<select name='adtclass' id='adtclass'><option value=''></value></select>";
  
  for(var i = 0; i < classoptions.length; i++) {
    var opt = document.createElement(classoptions[i]);
    cell_class.add(opt);
  }
  
  // fourth cell is for role, make dropdown like above
  var cell_role = additionrow.insertCell(3);
  cell_role.innerHTML="<select name='adtrole' id='adtrole'><option value=''></value></select>";

  for(var i = 0; i < roleoptions.lenght; i++){
    var opt = document.createElement(roleoptions[i]);
    cell_role.add(opt);
  }

  // fifth cell is for our buttons
  var cell_buttons = additionrow.insertCell(4);
  cell_buttons.innerHTML = "<button class='btn btn-success btn-sm' type='button' onclick='saveAddition()'>Save</button><button class='btn btn-danger btn-sm' type='button' onclick='clearAddition()'>Clear</button>"
  

}


</script>

<div id="messagebox" class="bg-dark"></div>
  <br>
  <a href="#" id="updaterosterbtn"><button class="btn btn-success btn-sm">Update</button></a> &nbsp; <p class="updatetime">Updated: {{ updated }}</p>
  <br>
<table id="rostertable" class="table table-striped table-dark">
  <tr>
      <th>#</th>
      <th>Nick</th>
      <th>Class</th>
      <th>Role</th>
      <th>ilv</th>
      <th>Weekly M+</th>
      <th>R.io score</th>
      <th>Perf% (N)</th>
      <th>Perf% (H)</th>
      <th>Perf% (M)</th>
  </tr>
  {% for i in data %}
  <tr>
      <td>{{loop.index}}</td>
      <td> <p class="cname {{ i["automated"] }}" >{{ i["name"] }} </p></td>
      <td> <p class="cclass"> {{ i["Class"] }} </p></td>
      <td> <p class="crole">{{ i["Role"] }} </p></td>
      <td> <p class="cilv"> {{ i["ilv"] }} </p></td>
      <td> <p class="cweekly"> {{ i["Weekly"] }} </p></td>
      <td> <p class="crio"> {{ i["rio"] }} </p></td>
      <td> <p class="cwcl"> {{ i["wcln"] }} </p></td>
      <td> <p class="cwcl"> {{ i["wclh"] }} </p></td>
      <td> <p class="cwcl"> {{ i["wclm"] }} </p></td>
  </tr>
  {% endfor %}
</table>

{% if user %}
<div id="editrosterdiv">
  <button class="btn btn-success btn-sm" onclick="unlockRoster()">Unlock for editing</button>
</div>
{% endif %}
<br>
<h5>Most recent logs</h5>
<table class="table table-striped table-dark">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Url</th>
  </tr>

  {% for row in logs %}
    <tr>
      <td> {{ row["title"] }} </td>
      <td> {{ row["start"] }}</td>
      <td> <a href="http://warcraftlogs.com/reports/{{ row["id"] }}" target="_blank">http://warcraftlogs.com/reports/{{ row["id"] }}</a></td>
    </tr>
  {% endfor %}

</table>

<script src="static/scripts/coloring.js"></script>

{% endblock %}