{% extends "base.html" %}

{% block content %}

<div class="card">
    <div class="card-body">
  
      <h5 class="card-title">Loot history</h5>
      <nav>
        <ul class="pagination bg-dark justify-content-center">
            <li class="page-item bg-dark"><a class="page-link bg-dark text-light" href="?page=1"><span>&laquo;</span></a></li>
            {% for page in pagecount %}
                <li class="page-item bg-dark"><a class="page-link bg-dark text-light" href="?page={{loop.index}}">{{loop.index}}</a></li>
                {% if loop.last %}
                    <li class="page-item bg-dark"><a class="page-link bg-dark text-light" href="?page={{loop.index}}"><span>&raquo;</span></a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
      <table class="table table-striped table-dark" id="loothistory" onload="stylelh()">
        <thead>
            <th>Time</th>
            <th>Recipient (original)</th>
            <th>Item</th>
            <th>Response</th>
            <th>Boss</th>
        </thead>
        {% for row in data %}
          <tr>
            <td class="lh lhtime"><span class="badge badge-secondary">{{row.received_time}}</span></td>
            <td class="lh lhname" data-class="{{ row.recipient_class }}">{{ row.recipient }} 
                {% if row.recipient != row.original_owner %}
                <br><span class="badge badge-secondary lh lhbadge">{{ row.original_owner }}</span>
                {% endif %}
            </td>
            <td class="lh lhitem"><a href="{{row.item_url}}">{{row.item_name}}</a></td>
            <td class="lh lhresponse">{{ row.response }}</td>
            <td class="lh lhboss"><span class="badge badge-danger lh lhbadge" title="{{ row.instance_name }}">{{ row.boss_name }}</span></td> 
          </tr>
        {% endfor %}

        
  
      </table>

      
  
    </div>
  </div>


{% endblock %}