
{% for raid in sidebar[0] %}
<div class="card">
    <div class="card-body">
        <h5 class="raidname card-title">Raid: {{ raid.name }}</h5>
        <p class="raiddifficulty card-subtitle">Normal: {{ raid.normalprog }}</p>
        <div class="progress" style="height: 20px;">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ raid.normalperc }}%;" aria-valuenow="{{ raid.normalperc }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
        <p class="raiddifficulty card-subtitle">Heroic: {{ raid.heroicprog }}</p>
        <div class="progress" style="height: 20px;">
            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ raid.heroicperc }}%;" aria-valuenow="{{ raid.heroicperc }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
        <p class="raiddifficulty card-subtitle">Mythic: {{ raid.mythicprog }}</p>
        <div class="progress" style="height: 20px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{ raid.mythicperc }}%;" aria-valuenow="{{ raid.mythicperc }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>
{% endfor %}