<h4>Raid progress</h4>
{% for raid in sidebar[0] %}
<div class="card">
    <div class="card-body">
    <h5 class="raidname card-title">Raid: {{ raid.name }}</h5>
    <p class="raiddifficulty card-subtitle">Normal: </p>
    <div class="progress" style="height: 20px;">
        <div class="progress-bar" role="progressbar" style="width: {{ raid.normalperc }}%;" aria-valuenow="{{ raid.normalperc }}" aria-valuemin="0" aria-valuemax="100">{{ raid.normalprog }}</div>
      </div>
      <br>
      <p class="raiddifficulty card-subtitle">Heroic:</p>
    <div class="progress" style="height: 20px;">
        <div class="progress-bar" role="progressbar" style="width: {{ raid.heroicperc }}%;" aria-valuenow="{{ raid.heroicperc }}" aria-valuemin="0" aria-valuemax="100">{{ raid.heroicprog }}</div>
      </div>
      <br>
      <p class="raiddifficulty card-subtitle">Mythic:</p>
    <div class="progress" style="height: 20px;">
        <div class="progress-bar" role="progressbar" style="width: {{ raid.mythicperc }}%;" aria-valuenow="{{ raid.mythicperc }}" aria-valuemin="0" aria-valuemax="100">{{ raid.mythicprog }}</div>
      </div>
    </div>
    </div>
{% endfor %}