
{% for raid in sidebar[0] %}
<div class="card">
    <div class="card-body">
        <h6 class="raidname card-title">{{ raid.name }}</h6>
        <p class="raiddifficulty card-subtitle">Normal: {{ raid.normalprog }}</p>
        <div class="progress" style="height: 20px;">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ raid.normalperc }}%;" aria-valuenow="{{ raid.normalperc }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
        <p class="raiddifficulty card-subtitle">Heroic: {{ raid.heroicprog }}</p>
        <div class="progress" style="height: 20px;">
            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ raid.heroicperc }}%;" aria-valuenow="{{ raid.heroicperc }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
        <p class="raiddifficulty card-subtitle">Mythic: {{ raid.mythicprog }}</p>
        <div class="progress" style="height: 20px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{ raid.mythicperc }}%;" aria-valuenow="{{ raid.mythicperc }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>


{% endfor %}
<div class="card">
    <div class="card-body">
        <p>Running version: {{ sidebar[1]["version"] }}</p>
        <a href="https://github.com/Supsu/raidaudit" target="_blank">
            <img src="{{ url_for('static', filename='img/GitHub-Mark-64px.png') }}">
            <p>Fork me!</p>
        </a>
    </div>
</div>
